/*Basic color*/

:root {
    --gray-header: #EEEEEE;
    --modal-close-button: #FB565A 30 %;
    --color-nav: #000000;
    --color-basket: #A6A6A6;
    --color-text: #283136;
    --basic-white: #FFFFFF;
    --background: #888888;
    --background-img: gray;
    --red-button: #FB565A;
    --green-button: #00CA74;
    --yellow-button: #EFC849;
    --text-contact: #666666;
    --footer-text: #444444;
    --site-nav-hover: #FB565A;
    --button-yellow-active: #E5A722;
    --button-red-hover: #E74246;
    --button-green-hover: #00BC6C;
    --button-yellow-hover: #EAB534;
    --button-red-active: #D7373B;
    --button-green-active: #00AA62;
    --social-button: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
   }

   body {
       min-width: 1160px;
       margin: 0;
       padding: 0;
       font-family: "Roboto", Arial, sans-serif;
       font-size: 16px;
       line-height: 24px;
       font-weight: 400;
       color: var(--color-text);
       background-color: var(--basic-white);
    }

    .page {
        height: 100%;
    }

    .line {
        border-bottom: 2px solid var(--gray-header);
    }

    .page a {
        text-decoration: none;
        color: var(--color-text);
    }

    img {
        max-width: 100%;
        height: auto;
    }
   
    .page-body {
        min-height: 100%;
        display: grid;
        grid-template-rows: min-content 1fr min-content;
    }

    .main-header {
        background-color: var(--gray-header); 
        height: 125px;

    }

    .site-nav {
        margin: 0;
        padding: 0;
        list-style: none;
        display: grid;
        grid-template-columns: 86px 86px 86px 86px;
        justify-content: center;
    }

    .main-nav {
        display: grid;
        grid-template-columns: 160px 1fr min-content;
        width: 1160px;
        margin: 0 auto;
        margin-top: 50px;
        padding: 0 10px;
        list-style: none;
        line-height: 30px;
        color: var(--color-nav);
        background-color: transparent;
        font-weight: 500;
    }

    .container h1,
    .container-catalog h1,
    .container h2 {
        display: none;
    } 
    .container-catalog {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .container {
        display: grid;
        
      /*   width: 1160px; */
      /*   margin: 0 auto;
        padding: 0 10px; */
    }
.gallery-container-top {
    background-color: var(--gray-header);
    
}
    .gallery-content,
    .gallery-container,
    .page-catalog,
    .catalog-title {
        width: 1160px;
        margin: 0 auto;
        padding: 0;
        list-style: none;
    }

    .catalog-title {
        height: 225px;
        font-size: 55px;
        text-align: center;
        padding-top: 50px;
    }

    .site-nav,
    .indicators,
    .clients,
    .products-list,
    .footer-ul {
        list-style: none;
    }

    .deviz {
        font-size: 55px;
        line-height: 55px;
        font-weight: 500;
    }

    .products h2{
        display: none;
    }

    .products-list {
        margin: 0;
        margin-top: 80px;
        padding: 0;
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .radio, .checkbox {
        display: grid;
        
    }

    .about {
        margin: 0;
        margin-top: 121px;
        margin-bottom: 125px;
        padding: 0;
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .indicators {
        margin: 0;
        padding: 0;
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .our-clients .clients {
        margin: 0;
        padding: 45px 30px;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        border-top: 2px solid var(--gray-header);
        border-bottom: 2px solid var(--gray-header);
    }

    .our-clients {
        margin-bottom: 125px;
        padding: 0 30px;
    }

    .main-footer {
        margin: 0;
        padding: 0;
        display: grid; 
    }

    .footer-social {
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 3fr;
        width: 1160px;
        margin: 0 auto;
        padding: 0 10px;
    }

    .footer-ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
    }

    .products-item {
        text-align: left;
    }

    .products-item h3 {
        font-size: 24px;
        line-height: 30px;
    }
    
    .products-item a {
        font-size: 16px;
        line-height: 18px;
    }

    .about-main {
        font-size: 45px;
        line-height: 45px;
        font-weight: 500;
    }
    .about-variants {
        font-weight: 700;
    }

    .indicators-item {
        font-size: 45px;
        line-height: 64px;
        font-weight: 700;
    }

    .indicators-item sup {
        font-size: 26px;
        line-height: 40px;
        font-weight: 700;
    } 

    .indicators-label {
        font-size: 16px;
        line-height: 18px;
        font-weight: 400;
    }

    .footer-contacts {
        background-color: var(--basic-white); 
    }

    .footer-contacts h2 {
        font-size: 18px;
        line-height: 30px;
        font-weight: 700;  
    }
    .footer-contacts p{
    line-height: 40px;
    }

    .button {
        font: inherit;
        font-size: 16px;
        line-height: 18px;
        font-weight: 500;
        text-transform: uppercase;
        vertical-align: middle;
        text-align: center;
        border: none;
    }

    .page .botton {
        color: var(--basic-white);
    }

    .red {
        background-color: var(--red-button);
    }

    .green {
        background-color: var(--green-button);
    }

    .yellow {
        background-color: var(--yellow-button);
    }

    .page-footer p{
        font-size: 16px;
        line-height: 22px;
        font-weight: 400; 
    }

    p.slogon {
        font-size: 36px;
        line-height: 36px;
        font-weight: 700; 
    }
    

    .button.red:hover {
        background-color: var(--button-red-hover);
    }

    .button.green:hover
     {
        background-color: var(--button-green-hover);
    }

    .button.yellow:hover
     {
        background-color: var(--button-yellow-hover);
    }

    .button.red:active {
        background-color: var(--button-red-active); 
    }

    .button.green:active
     {
        background-color: var(--button-green-active);
    }

    .button.yellow:active
     {
        background-color: var(--button-yellow-active);
    }

   .site-nav a:hover{
    color: var(--site-nav-hover);
   }

   .site-nav a:active{
    color: var(--color-nav);
    opacity: 0.3;
   }

   .clients-item {
    opacity: 0.2;
}

.clients-item:hover {
    opacity: 1;
}

.clients-item:active {
    opacity: 0.1;
}

.page-catalog {
    display: grid;
    grid-template-columns: 360px 800px;
}

.catalog {
    display: grid;
    grid-template-rows: min-content min-content;
}

.template {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.number-page {
    list-style: none;
    display: flex;
}