/*Basic color*/

:root {
    --gray-header: #EEEEEE;
    --modal-close-button: #FB565A 30 %;
    --color-nav: #000000;
    --color-basket: #A6A6A6;
    --color-text: #283136;
    --basic-white: #FFFFFF;
    --background: #888888;
    --background-img: gray;
    --red-button: #FB565A;
    --green-button: #00CA74;
    --yellow-button: #EFC849;
    --text-contact: #666666;
    --footer-text: #444444;
    --site-nav-hover: #FB565A;
    --button-yellow-active: #E5A722;
    --button-red-hover: #E74246;
    --button-green-hover: #00BC6C;
    --button-yellow-hover: #EAB534;
    --button-red-active: #D7373B;
    --button-green-active: #00AA62;
    --social-button: #E1E1E1;
    --color-grey: #DFDFDF;
    --color-grey-a: #DBDBDB;
    --grey-filter: #D5D5D5;
    --slider-conrtols: #c1c1c1;

   }

   body {
       min-width: 1160px;
       margin: 0;
       padding: 0;
       font-family: "Roboto", Arial, sans-serif;
       font-size: 16px;
       line-height: 24px;
       font-weight: 400;
       color: var(--color-text);
       background-color: var(--basic-white);
    }

    .page {
        height: 100%;
    }

    .line {
      width: 1158px;
        border-bottom: 2px solid var(--gray-header);
    }

    .page a {
        text-decoration: none;
        color: var(--color-text);
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
      }
   
    .page-body {
     /*  position: relative; */
        min-height: 100%;
        display: grid;
        grid-template-rows: min-content 1fr min-content;
    }

    .main-header {
        background-color: var(--gray-header); 
        height: 114px;
    }

    .container {
      margin-bottom: 55px;

    }
    .main-header-logo {
      margin-top: 48px;
      
    }
    .main-header-logo:active{
        opacity: 0.3;
    }
    .site-nav {
      display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
     
        margin-bottom: 19px;
        padding: 0;
      
        list-style: none;
        min-height: 30px;
    }

    .site-nav a {
      display: block;
   
     
    }


    .main-nav {
        display: grid;
        grid-template-columns: 360px 1fr 360px;
        /* justify-content: space-between; */
        width: 1160px;
        margin: 0 auto;
       /*  margin-top: 50px; */
        padding: 0;
        list-style: none;
        line-height: 30px;
        color: var(--color-nav);
        background-color: transparent;
        font-weight: 500;
        text-transform: uppercase;
    }

  
    .basket {
      text-align: right;
      margin-top: 75px;
    }

    .basket-link{
        position: relative;  
    }

    .basket-link::before {
        position: absolute;
        content: "";
        display: block;
        top: 2px;
        left: -40px;
        width: 15px;
        height: 15px;
        background-image: url("../img/cart-icon.svg");
        background-repeat: no-repeat;
        background-position: 0 0;
      }

      .active-page {
        
        border-bottom: 2px solid var(--site-nav-hover);
    }

    /*  .container h1, 
    .container h2 {
        display: none;
    }  */

    .container {
        display: grid;
        
      /*   width: 1160px; */
      /*   margin: 0 auto;
        padding: 0 10px; */
    }
.gallery-container-top {
    
    
font-weight: 500;
font-size: 55px;
line-height: 55px;
    text-align: center;
    background-color: var(--gray-header);

    padding-right: 20px;
    padding-top: 23px;
    padding-bottom: 52px;
    margin-bottom: 55px;
  
    
}

    .gallery-content,
    .gallery-container,
    .page-catalog,
    .catalog-title {
        width: 1160px;
        margin: 0 auto;
        padding: 0;
        list-style: none;
    }

    .catalog-title {
        height: 225px;
        font-size: 55px;
        text-align: center;
        padding-top: 50px;
    }

    .site-nav,
    .indicators,
    .clients,
    .products-list,
    .footer-ul {
        list-style: none;
    }

    .deviz {
        font-size: 55px;
        line-height: 55px;
        font-weight: 500;
    }

    .products-list {
        margin: 0;
        margin-top: 80px;
        padding: 0;
        list-style: none;
        display: grid;
        grid-template-columns: 300px 300px 300px;
        gap: 100px;
    }

    .about {
        margin: 0;
        margin-top: 39px;
        margin-bottom: 55px;
        padding: 0;
       /*  padding-top: 32px; */
        display: grid;
        grid-template-columns: 800px 360px;
        
    }

    .about-left {
      padding-top: 32px;
      
        
    }



    .indicators {
        margin: 0;
        padding: 0;
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .clients {
        margin: 0;
        padding: 0;
        padding-top: 45px;
        padding-bottom: 35px;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
       /*  justify-content: space-around; */
        /* align-items: center; */
        border-top: 2px solid var(--gray-header);
        border-bottom: 2px solid var(--gray-header);
        
        
        
    }

    .our-clients {
        margin-bottom: 25px;
        padding: 0;
       
    }
 
     .clients-item-1 {
      padding-left: 32px;
      padding-top: 18px;
    }

    .clients-item-2 {
      padding-left: 94px;
      padding-top: 2px;
    }

    .clients-item-3 {
      padding-left: 104px;
      padding-top: 20px;
    }

     .clients-item-4 {
      padding-left: 120px;
      padding-top: 9px;
    }

    .clients-item {
      position: relative;
    }
 
    .clients-item-1::after {
      content: "";
      position: absolute;
      vertical-align: middle;
      width: 2px;
      height: 52px;
      right: -51px;
      background-color:  var(--gray-header);
    }

    .clients-item-2::after {
      content: "";
      position: absolute;
      vertical-align: middle;
      width: 2px;
      height: 52px;
      right: -47px;
      top: 20px;
      background-color:  var(--gray-header);
    }

    .clients-item-3::after {
      content: "";
      position: absolute;
      vertical-align: middle;
      width: 2px;
      height: 52px;
      right: -58px;
      background-color: var(--gray-header) ;
    }




    .main-footer {
        margin: 0;
        padding: 0;
       /*  display: grid;  */
    }


    .footer-social {
        list-style: none;
        display: grid;
        grid-template-columns: min-content 1fr;
        vertical-align: middle;
        width: 1160px;
        margin: 0 auto;
        padding: 0 10px;
        margin-bottom: 76px;
    }

    .footer-ul {
        margin: 0;
      
        padding: 0;
        list-style: none;
       /* width: 265px; */
        display: flex;
        justify-content: space-between;
        align-items: center;  
    }

    .footer-contacts {
        background-color: var(--basic-white); 
     position: absolute;
        top: 40%;
        right: 70%;
        width: 320px;
        height: 310px;
        padding: 50px 50px;
    }
    

     .products-item {
       margin-bottom: 95px;
             
    }
 
 .products-item img {
    margin-bottom: 18px;
}

    .products-item span {
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        text-transform: uppercase;
    }
    
    .products-item a {
        font-size: 16px;
        line-height: 18px;
    
      /*   display: block;
        width: 160px; */
        padding-left: 40px;
        padding-right: 40px; 
    }

    .products-item p{
        margin-bottom: 45px;
    }


    .about-main {
        font-size: 45px;
        line-height: 45px;
        font-weight: 500;
        margin: 0;
        margin-bottom: 34px;
        


    }
    .about-variants {
        font-weight: 700;
        margin-top: 40px;
        margin-bottom: 23px;
        text-transform: uppercase; 
    }

    .about-right {
      margin-top: -2px;
      margin-bottom: 20px;
      padding: 0;
     
    }

    .about-right p{
      font-weight: 700;
     text-align: center;
      text-transform: uppercase; 
      margin-top: 30px;
    }



    .orders {
        list-style-type: none;
        height: 120px;
        padding-left: 35px;
        

    }

    .orders li{
          margin-bottom: 24px; 
    }

    .orders-item {
      margin: 0;
        position: relative;
  display: block;   
    }

    .orders-item::before {
        content: "";
        position: absolute;
        left: -35px;
        top:10px;
        width: 25px;
        border-top: 2px solid var(--red-button);
    }

    .indicators-item {
      height: 64px;
        margin: 0;
        padding: 0;
        font-size: 45px;
        font-weight: 700;
        width: 120px;
        border-bottom: 13px solid var(--basic-white);
    }

    .indicators-item sup {
        font-size: 26px;
        font-weight: 700;
    } 

    .indicators-label{
         font-size: 16px;
        line-height: 18px;
     height: 37px;
        font-weight: 400;
        margin: 0;
        padding: 0;
    }

    .table-indicators {
      margin-top: 28px;
      border: none;
      border-collapse: collapse;
    } 

    .footer-contacts h2 {
        font-size: 18px;
        line-height: 30px;
        font-weight: 700;  
    }
    .footer-contacts p{
    line-height: 40px;
    }

    .social-button{
        width: 81px;
        height: 81px;
        margin: 0;
        margin-right: 9px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--social-button);
        border-radius: 50%;

    }

    .social-button:last-child {
      margin-right: 0px;
    }

    .social-button:hover {
        background-color: var(--button-red-hover);  
    }

    .social-button:active {
        background-color: var(--button-red-active);
         
    }
    .social-button:active a{
        opacity: 0.3;
         
    }



    .button {
        font: inherit;
        padding: 15px 35px;
        font-size: 16px;
        line-height: 18px;
        font-weight: 500;
        text-transform: uppercase;
        vertical-align: middle;
        text-align: center;
        border: none;
        border-radius: 3px;
    }

    .page .botton {
        color: var(--basic-white);
    }

    .red {
        background-color: var(--red-button);
    }

    .green {
        background-color: var(--green-button);
    }

    .yellow {
        background-color: var(--yellow-button);
    }

    .page-footer p{
        font-size: 16px;
        line-height: 22px;
        font-weight: 400; 
    }

    p.slogon {
        font-size: 36px;
        line-height: 36px;
        font-weight: 700;  
    }

     .footer-slogon {
      margin-top: 5px;
    } 

      .footer-slogon p:last-of-type {
        margin-top: 10px;
      }

     .footer-social p{
       margin: 0;
        margin-left: 140px;
    }
   

    .button.red:hover {
        background-color: var(--button-red-hover);
    }

    .button.green:hover
     {
        background-color: var(--button-green-hover);
    }

    .button.yellow:hover
     {
        background-color: var(--button-yellow-hover);
    }

    .button.red:active {
        background-color: var(--button-red-active); 
    }

    .button.green:active
     {
        background-color: var(--button-green-active);
    }

    .button.yellow:active
     {
        background-color: var(--button-yellow-active);
    }

   .site-nav a:hover,
   .basket-link:hover{
    color: var(--site-nav-hover);
   }

   .site-nav a:active,
   .basket-link:active{
    color: rgba(255, 255, 255, 0.3);
   }

   .clients-item img{
    opacity: 0.2;
    position: relative;
}

.clients-item img:hover {
    opacity: 1;
}

.clients-item img:active {
    opacity: 0.1;
}

.page-catalog {
    display: flex;
    justify-content: space-between;
}

.catalog {
    width: 760px;
    display: grid;
    grid-template-rows: min-content min-content;
}

.template {
    margin: 0;
    padding: 0;
    margin-top: 48px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.browser {
    display: grid;
    grid-template-rows: auto 1fr;
    margin-bottom: 30px;
   
   
}

.header-browser {
    opacity: 0.12;
}

/* .browser-active {
    opacity: 1;
} */

.browser:hover .header-browser {
    opacity: 1;
}

.browser:hover {
    box-shadow:  0 0 10px 2px rgba(0, 1, 1, 0.3);
}

.shadow-in {
   /*  outline: 1px solid rgba(0, 0, 0, 0.1);
    outline-offset: -1px; */
    object-fit: contain;
    
}

.number-page {
    list-style: none;
    display: flex;
}


/*фильтр*/

.filter {
    width: 260px;
    padding-top: 5px;
  }

    .bar {
      width: 30%;
      margin-left: 0px;
    }
  
  .filter fieldset {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    border: none;
  }
  
  .filter fieldset:first-child {
    margin-bottom: 35px;
  }
  
  .filter legend {
    margin-bottom: 5px;
    font-size: 24px;
    line-height: 30px;
  }
  
  .filter ul {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 18px;
   
  }
  
  .filter-option {
    margin-bottom: 22px;
    padding-left: 36px;
  }

  .filter-option:last-child{
    margin-bottom: 19px;
  }
  
  .filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
  }
  
  .filter-input-checkbox:hover + label/* ,
  .filter-input-checkbox:focus + label */ {
    color: var(--color-text);
   

  }

  .filter-input-checkbox:disabled + label {
    color: var(--color-text);
    opacity: 0.3;
  }

  
  .filter-input-checkbox:enabled + label::before {
    content: "";
    position: absolute;
    left: -35px;
    top: -4px;
    width: 26px;
    height: 23px;
    background-image: url("../img/checkbox-off.svg");
    opacity: 0.4; 
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .filter-input-checkbox:hover + label::before {
    content: "";
    position: absolute;
    left: -35px;
    top: -4px;
    width: 26px;
    height: 23px;
    background-image: url("../img/checkbox-off.svg");
    opacity: 1; 
    background-repeat: no-repeat;
    background-position: 0 0;
  }

    /*  .filter-input-checkbox:enabled:checked + label::after {
    content: "";
    position: absolute;
    left: -35px;
    top: -4px;
    width: 26px;
    height: 23px;
    background: white;
   background-image: url("../img/checkbox-on.svg");
    opacity: 0.4;
    background-repeat: no-repeat;
    background-position: 0 0;
  }   */

  .filter-input-checkbox:enabled:checked + label::before {
    content: "";
    position: absolute;
    left: -35px;
    top: -4px;
    width: 26px;
    height: 23px;
    background: white;
   background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  

 


  



 
  







  /*icon radio*/
  .filter-input-radio + label::before {
    content: "";
    position: absolute;
    left: -35px;
    top: -4px;
    width: 16px;
    height: 16px;
     border: 4px solid #4D4D4D;
    border-radius: 50%;
    opacity: 0.4;
    

  }
  
  .filter-input-radio:checked + label::after {
    content: "";
    position: absolute;
    top: 4px;
    left: -27px;
    width: 8px;
    height: 8px;
    background-color: #4D4D4D;
    border-radius: 50%;
    opacity: 0.4;
  }






  .filter-input-radio:hover + label::before {
    content: "";
    position: absolute;
    left: -35px;
    top: -4px;
    width: 16px;
    height: 16px;
     border: 4px solid #4D4D4D;
    border-radius: 50%;
    opacity: 1;
    

  }
  
  .filter-input-radio:checked:hover + label::after {
    content: "";
    position: absolute;
    top: 4px;
    left: -27px;
    width: 8px;
    height: 8px;
    background-color: #4D4D4D;
    border-radius: 50%;
    opacity: 1;
  }




  .show {
    /* width: 250px;
    height: 60px; */
    
    background-color: var(--gray-header);
    color: var(--color-nav);
    text-align: center;
    border-radius: 3px;
  }

  .show a{
    display: block;
    color: var(--color-nav);
    padding: 17px;
    padding-top: 14px;
    padding-bottom: 12px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;   
  }

  .show:hover {
    background-color: var(--color-grey); 
  }

  .show a:active {
    color: rgba(0, 0, 0, 0.3);
  }
  .show:active{
  background-color: var(--grey-filter);
    box-shadow: inset 0 6px 0 -3px rgba(0, 1, 1, 0.1); }

  /*Диапазон цены*/

  
.range-filter {
    width: 260px;
    margin-top: 0px;
  }

  .filter-item .grid {
    margin-bottom: 21px;
  }
  
  .filter-item legend {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 50px;
  }
  
  .range-controls {
    position: relative;
    height: 41px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
  }
  
  .range-controls .scale {
    height: 2px;
    background: #d7dcde;
  }
  
  .range-controls .bar {
    width: 70%;
    height: 2px;
    background: #00ca74;
  }
  
  .range-controls .toggle {
    left: 20%;
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid #ffffff;
    background-color: #ababab;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    cursor: pointer;
  }
  
  .range-controls .toggle-min {
    left: 18px;
  }
  
  .range-controls .toggle-max {
    left: 160px;
  }
  
  .price-controls {
    display: flex;
    justify-content: space-between;
  }
  
  .price-controls label {
    text-transform: uppercase;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    text-align: center;
  }
  
  .price-controls input {
    width: 60px;
    padding: 10px;
    margin-left: 9px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
    font-family: inherit;
    font-size: inherit;
    margin-bottom: 20px;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0; 
      }
  
  input[type=number] {
      -moz-appearance:textfield;
  }

  .sort {
    text-transform: uppercase;
      list-style: none;
      display: flex;
      justify-content: space-between;
  }

  .sort span {
      font-size: 18px;
      line-height: 30px;
      font-weight: 700;
  }

  .param,
  .up_down {
      list-style: none;
      margin: 0;
      padding: 0;
  }

  .param-sort {
    padding-top: 3px;
      display: grid;
      grid-template-columns: 318px 40px;
  }

  .param {
    display: flex;
    justify-content: flex-start;
}

  .up_down {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: right;
  }

  .sort-value + label {
      font-size: 14px;
      line-height: 18px;
      opacity: 0.3;
      margin-right: 25px;
  }

  .sort-value + label:hover{
      opacity: 0.6;
  }

  .sort-value + label:active,
  .sort-value:checked + label {
    opacity: 1;
  }

  .down label,
  .up label{
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
  }
  .up_down_radio + label::before{
    content: "";
  position: absolute;
  left: -1px;
  top: 7px;
  width: 16px;
  height: 16px;
      background-image: url(../img/icon-down-dir.svg);
      background-repeat: no-repeat;
      background-position: 0 0;
      opacity: 0.2;
  }

  .up .up_down_radio + label::before{
    left: 4px;
    top: 1px;
      transform: rotate(180deg);
  }

   .down:active .up_down_radio + label::after,
    .up_down_radio:checked + label::after{
    content: "";
  position: absolute;
  left: -1px;
  top: 6px;
  width: 16px;
  height: 16px;
      background-image: url(../img/icon-down-dir.svg);
      background-repeat: no-repeat;
      background-position: 0 0;
  }

  .up:active .up_down_radio + label::after{
    content: "";
  position: absolute;
  left: 10px;
  top: 1px;
  width: 16px;
  height: 16px;
      background-image: url(../img/icon-down-dir.svg);
      background-repeat: no-repeat;
      background-position: 0 0;
      left: 4px;
      top: 1px;
      transform: rotate(180deg);
  }
/*
  .down:hover .up_down_radio + label::after{
    content: "";
  position: absolute;
  left: 10px;
  top: 6px;
  width: 16px;
  height: 16px;
      background-image: url(../img/icon-down-dir.svg);
      background-repeat: no-repeat;
      background-position: 0 0;
      opacity: 0.5;
  }

  .up:hover .up_down_radio + label::after{
    content: "";
  position: absolute;
  left: 10px;
  top: 6px;
  width: 16px;
  height: 16px;
      background-image: url(../img/icon-down-dir.svg);
      background-repeat: no-repeat;
      background-position: 0 0;
      left: 6px;
    top: 1px;
      transform: rotate(180deg);
      opacity: 0.5;
  } */

  .pagination-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
   /*  margin-top: 55px; */
   margin-top: 24px;
    margin-bottom: 5px;
    list-style: none;
  }

  .pagination-item {
    margin-right: 10px;
  }

  .pagination-item:last-child {
    margin-right: 0;
    width: 260px;
  }
  
  .pagination-item a {
    display: block;
    color: var(--color-nav);
    background-color: var(--gray-header);
    border-radius: 3px;
    padding-top: 13px;
    padding-left: 21px;
    padding-right: 21px;
    padding-bottom: 13px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
  }

  .pagination-item-current a{
    background-color: var(--basic-white); 
    border-radius: 3px;
    box-shadow: inset 0 0 0 3px var(--color-grey-a);
    padding: auto;
  }

    .pagination-item a:hover{
        background-color: var(--color-grey);
        border-radius: 3px;
        padding: 16px 20px ;
        box-shadow: none;
  }

   .pagination-item a:active {
    background-color: var(--color-grey);
    padding: 16px 20px ;
    box-shadow: inset 0 6px 0 -3px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.3)
}

.min-price input {
  text-align: center;
}



    .box .button,
    .products-item .button,
    .map-address .button{
      color: var(--basic-white);
    }

     .button:active{
     color: rgba(255, 255, 255, 0.3);
    }

/*!!!!!!!!!!!!!!!!*/

/*!!!!!!!!!!!!!!!!*/

.map-wrapper{
    margin-bottom: 70px;
   /*  position: relative; */

    display: flex;
    height: 416px;
    background-color: var(--background);
    background-image: url(../img/map\ 1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    justify-content: center;
}

/*  .contact-map{
  position: relative;
}  */

.map-container{
    position: relative;
    z-index: 30;
    top: 0px;
    left: -420px;
   
}

.map-address{
    line-height: 18px;
    box-sizing: border-box;
    width: 319px;
    height: 308px;
    margin-top: 55px;
    /* padding: 50px 50px; */
    padding-top: 49px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: var(--basic-white);
}

.map-address b{
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    display: inline-block;
    margin-bottom: 23px;
    vertical-align: top;
    color: var(--color-nav);
}

.map-address .address{
    font-weight: 400;
    font-style: normal;
    margin-bottom: 37px;
    padding-right: 5px;
    color: var(--text-contact);
}

.map-address .address-phone{
    font-weight: 400;
    font-style: normal;
    margin-top: 15px;
    margin-bottom: 50px;
    color: var(--text-contact);
}

.writeus-button{
    width: 219px;
    height: 50px;
    padding-left: 44px;
    padding-right: 44px;
}


/*Slider*/

.box {
  background-color: var(--gray-header);

}

.slider-conteiner {
    width: 1160px;
    margin: 0 auto;
}

 .slider-conteiner-1 {
    height: 431px;
    background-image: url(../img/nerds-index-slide1.png);
    background-repeat: no-repeat;
    background-position: 397px;
  /*   margin-bottom: 20px; */
}
 .slider-conteiner-2 {
  height: 435px;

  background-image: url(../img/nerds-index-slide2.png);
  background-repeat: no-repeat;
  background-position: right;
  margin-bottom: 20px;
}
.slider-conteiner-3 {
  height: 435px;

  background-image: url(../img/nerds-index-slide3.png);
  background-repeat: no-repeat;
  background-position: right;
  margin-bottom: 20px;
} 
.slider-list {  
  margin: 0 auto;
  padding: 0;
}

.slider-item {
  height: 435px;
  border: 1px solid rgba(255,255,255,0);
  margin: 0 auto;
}

.slider1 {
  width: 520px;
  position: relative;
}

.slide {
    display: none;  
  }
 
  .slide-current {
    display: block;
  }

  .slide-title {
    font-size: 55px;
    line-height: 55px;
    margin-top: 78px;
    margin-bottom: 25px;
  }

  .slide-text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 52px;

  }

  .slider-controls {
    position: absolute;
    bottom: 102px;
    left: 536px;
    z-index: 20;
    display: flex;
    width: 88px;
    justify-content: space-between;
  }
  
  .slider-controls button {
    padding: 0;
    width: 18px;
    height: 18px;
    background-color: var(--basic-white);
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .slider-controls .current {
    padding: 0;
    width: 18px;
    height: 18px;
    background-color: var(--basic-white);
    box-shadow: inset 0 0 0 2px var(--slider-conrtols);
     border: 5px solid var(--basic-white); 
    border-radius: 50%;
    cursor: pointer;
  }

  .slide a {
    padding-left: 54px;
    padding-right: 54px;
  }

/*POP-UP*//*POP-UP*//*POP-UP*/

/*   .pop-up {
    position: absolute;
    top: 400px;
    left: 0px;
    width: 360px;
    height: 200px;
    padding: 0;
    text-align: center;
    padding-top: 8px;
    background-color: #00AA62;
  } */

 /*  .pop-up h3{
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 12px;
    padding-bottom: 0px;
  }

  .pop-up p{
    line-height: 18px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 33px;
  }

  .pop-up .button{
    padding-top: 17px;
    padding-bottom: 15px;
    padding-left: 72px;
    padding-right: 73px;
  } */

/*   .mini-browser {
    position: relative;
    padding-bottom: 0px;
      border: 10px solid red;
     box-sizing: border-box; 
    height: 620px;
    object-fit: contain;
  }
 */








  /*MODAL*//*MODAL*//*MODAL*/

  .modal {
     display: none; 
    position: fixed;
    z-index: 500;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
   
    width: 960px;
    height: 590px;
    background-color: var(--basic-white);
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 77px;
    
    box-sizing: border-box;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  }

  .modal h2 {
    font-size: 45px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 33px;
  }

  .modal-close {
    position: absolute;
  top: 78px;
  right: 90px;
  width: 22px;
  height: 22px;
  background-image: url(../img/close-cross.svg);
  background-repeat: no-repeat;
  border: 0;
 
  }

  .modal-close:hover {
    position: absolute;
  top: 78px;
  right: 90px;
  width: 22px;
  height: 22px;
    background-image: url(../img/close-cross-hover.svg);
    background-repeat: no-repeat;
    border: 0;
  }

  .modal-close:active {
    position: absolute;
  top: 78px;
  right: 90px;
  width: 22px;
  height: 22px;

    background-image: url(../img/close-cross-hover.svg);
    background-repeat: no-repeat;
    opacity: 0.1;
    border: 0;
  }

  .name-email {
    display: flex;
     justify-content: space-between; 
    flex-wrap: wrap;
  }

  .modal-form input{
     width: 360px;
    height: 50px;
     color: rgba(68, 68, 68, 0,4); 

  }

  .modal-form {
    width: 360px;
  }
  .modal-form label{
    display: block;
    margin-bottom: 6px;
    font-weight: 700;
    
  }

  /* input.text-message {
    width: 760px;
    height: 118px;
   
  } */

 /*  .name-email label{
    font-weight: 700;
    margin: 0;
    margin-bottom: 5px;
  } */

  .name-email input{
    margin: 0;
    border: 2px solid rgba(215, 220, 222, 1);
    box-sizing: border-box;
    padding-left: 16px;
  }

  .modal-form textarea{
    margin: 0;
    border: 2px solid rgba(215, 220, 222, 1);
    box-sizing: border-box;
    padding-left: 16px;
    padding-top: 12px;
    width: 760px;
    height: 120px;
  }

 input.text-message::placeholder{
      
     transform: translateY(-44px) translateY(50%); 
  }

   .modal .button{
    
    padding-left: 84px;
    padding-right: 84px;
    padding-top: 17px;
    padding-bottom: 15px;
    box-sizing: border-box;
    margin-top: 20px;
    color: var(--basic-white); 
  }

  input:active{
    color: black;
    border: 2px solid black;
  }

  input:active::placeholder{  
   color: black; 
 }

  input:invalid {
    color:rgba(231, 66, 70, 1);
    border: 2px solid rgba(231, 66, 70, 1);
   }



   /*TEST*//*TEST*//*TEST*//*TEST*/

   .li-test{
     position: relative;
     width: 360px;
     height: 620px;
     margin: 0;
     margin-bottom: 30px;
    
   }

    .browser-test::before {
     content: "";
     position: absolute;
     top: 0px;
    left:0px;
     width: 360px;
    height: 40px;
     background-image: url(../img/browser.svg);
     opacity: 0.12;
   }

   .li-test:hover .browser-test::after {
    content: "";
    position: absolute;
    top: 0px;
   left:0px;
    width: 360px;
   height: 40px;
    background-image: url(../img/browser.svg);
  }

  .li-test:hover {
    box-shadow:  0 0 10px 2px rgba(0, 1, 1, 0.3);
  }

  

   .shadow-in-test { 
     
    width: 360px;
    height: 620px;
    padding-top: 40px;
/*     border-bottom: 1px solid rgba(242, 242, 242, 1); */
    /* border-left: 1px solid rgba(242, 242, 242, 1);
    border-right: 1px solid rgba(242, 242, 242, 1); */
    box-sizing: border-box;
    /* border-radius: 5px; */
    object-fit: fill;
   }


   


   /*POP-UP*/ /*POP-UP*/ /*POP-UP*/
   .pop-up {
     display: none;
   }


    .li-test:hover .pop-up{
      display: block;
    position: absolute;
    top: 392px;
    left: 0px;
    width: 360px;
    height: 220px;
    padding: 0;
    text-align: center;
    padding-top: 6px;
    background: rgba(238, 238, 238, 1);
  }

  .li-test:hover .pop-up h3{
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 13px;
    padding-bottom: 0px;
    text-transform: uppercase;
  }

  .li-test:hover .pop-up h3:hover{
   
    color: var(--red-button);
  }

  .li-test:hover .pop-up h3:active{
    
    opacity: 0.3;
  }

  .li-test:hover .pop-up p{
    line-height: 18px;
    margin: 0;
    padding: 0;
  
    margin-bottom: 33px;
  }

  .li-test:hover .pop-up .button{
    padding-top: 17px;
    padding-bottom: 15px;
    padding-left: 72px;
    padding-right: 73px;
    color: white;
    font-weight: 500;
  }



  
