/*Basic color*/

:root {
    --gray-header: #EEEEEE;
    --modal-close-button: #FB565A 30 %;
    --color-nav: #000000;
    --color-basket: #A6A6A6;
    --color-text: #283136;
    --basic-white: #FFFFFF;
    --background: #888888;
    --background-img: gray;
    --red-button: #FB565A;
    --green-button: #00CA74;
    --yellow-button: #EFC849;
    --text-contact: #666666;
    --footer-text: #444444;
    --site-nav-hover: #FB565A;
    --button-yellow-active: #E5A722;
    --button-red-hover: #E74246;
    --button-green-hover: #00BC6C;
    --button-yellow-hover: #EAB534;
    --button-red-active: #D7373B;
    --button-green-active: #00AA62;
    --social-button: #E1E1E1;
    --color-grey: #DFDFDF;
    --color-grey-a: #DBDBDB;
    --grey-filter: #D5D5D5;

   }

   body {
       min-width: 1160px;
       margin: 0;
       padding: 0;
       font-family: "Roboto", Arial, sans-serif;
       font-size: 16px;
       line-height: 24px;
       font-weight: 400;
       color: var(--color-text);
       background-color: var(--basic-white);
    }

    .page {
        height: 100%;
    }

    .line {
        margin-top: 80px;
        border-bottom: 2px solid var(--gray-header);
    }

    .page a {
        text-decoration: none;
        color: var(--color-text);
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
      }
   
    .page-body {
        min-height: 100%;
        display: grid;
        grid-template-rows: min-content 1fr min-content;
    }

    .main-header {
        background-color: var(--gray-header); 
        height: 125px;
    }
    .main-header-logo:active{
        opacity: 0.3;
    }
    .site-nav {
        margin: 0;
        padding: 0;
        list-style: none;
        width: 600px;
        display: flex;
        justify-content: center;
        gap: 45px;
    }

    .main-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1160px;
        margin: 0 auto;
        margin-top: 50px;
        padding: 0 10px;
        list-style: none;
        line-height: 30px;
        color: var(--color-nav);
        background-color: transparent;
        font-weight: 500;
        text-transform: uppercase;
    }

    .active-page {
        border-bottom: 2px solid var(--site-nav-hover);
    }

    .basket-link{
        position: relative;
    }

    .basket-link::before {
        position: absolute;
        content: "";
        display: block;
        top: 0;
        left: -40px;
        width: 15px;
        height: 15px;
        background-image: url("../img/cart-icon.svg");
        background-repeat: no-repeat;
        background-position: 0 0;
      }

    .container h1,
    .container-catalog h1,
    .container h2 {
        display: none;
    } 
    .container-catalog {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .container {
        display: grid;
        
      /*   width: 1160px; */
      /*   margin: 0 auto;
        padding: 0 10px; */
    }
.gallery-container-top {
    background-color: var(--gray-header);
    margin-bottom: 55px;
    
}

    .gallery-content,
    .gallery-container,
    .page-catalog,
    .catalog-title {
        width: 1160px;
        margin: 0 auto;
        padding: 0;
        list-style: none;
    }

    .catalog-title {
        height: 225px;
        font-size: 55px;
        text-align: center;
        padding-top: 50px;
    }

    .site-nav,
    .indicators,
    .clients,
    .products-list,
    .footer-ul {
        list-style: none;
    }

    .deviz {
        font-size: 55px;
        line-height: 55px;
        font-weight: 500;
    }

    .products h2{
        display: none;
    }

    .products-list {
        margin: 0;
        margin-top: 80px;
        padding: 0;
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

   /*  .radio, .checkbox {
        display: grid;
        
    } */

    .about {
        margin: 0;
        margin-top: 121px;
        margin-bottom: 125px;
        padding: 0;
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .indicators {
        margin: 0;
        padding: 0;
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .our-clients .clients {
        margin: 0;
        padding: 45px 30px;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        border-top: 2px solid var(--gray-header);
        border-bottom: 2px solid var(--gray-header);
    }

    .our-clients {
        margin-bottom: 125px;
        padding: 0 30px;
    }

    .main-footer {
        margin: 0;
        padding: 0;
       /*  display: grid;  */
    }

    .map {
        position: relative;
    }



    .footer-social {
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 3fr;
        width: 1160px;
        margin: 0 auto;
        padding: 0 10px;
        margin-bottom: 76px;
    }

    .footer-ul {
        margin: 0;
        margin-left: 140px;
        padding: 0;
        list-style: none;
        width: 265px;
        display: flex;
        justify-content: space-between;
        align-items: center;  
    }

    .footer-contacts {
        background-color: var(--basic-white); 
     position: absolute;
        top: 40%;
        right: 70%;
        width: 320px;
        height: 310px;
        padding: 50px 50px;
    }
    

    .products-item {
        text-align: left;
    }

    .products-item h3 {
        font-size: 24px;
        line-height: 30px;
        text-transform: uppercase;
    }
    
    .products-item a {
        font-size: 16px;
        line-height: 18px;
    }

    .products-item p{
        margin-bottom: 32px;
    }


    .about-main {
        font-size: 45px;
        line-height: 45px;
        font-weight: 500;
        margin-bottom: 32px;
    }
    .about-variants {
        font-weight: 700;
        margin-top: 35px;
        margin-bottom: 30px;
        text-transform: uppercase;
        text-align: center;
    }

    .orders {
        list-style-type: none;
    }

    .orders li{
        margin-bottom: 40px;
    }

    .orders-item {
        position: relative;
  display: block;   
    }

    .orders-item::before {
        content: "";
        position: absolute;
        left: -42px;
        top:10px;
        width: 25px;
        border-top: 2px solid var(--red-button);
    }
    .indicators {
        margin: 0;
        padding: 0;
    }

    .indicators-item {
        margin: 0;
        padding: 0;
        font-size: 45px;
     
        font-weight: 700;
    }

    .indicators-item sup {
        font-size: 26px;
     
        font-weight: 700;
    } 

    .indicators-label {
        font-size: 16px;
     
        font-weight: 400;
        margin: 0;
        padding: 0;
    }

   

    .footer-contacts h2 {
        font-size: 18px;
        line-height: 30px;
        font-weight: 700;  
    }
    .footer-contacts p{
    line-height: 40px;
    }

    .social-button{
        width: 81px;
        height: 81px;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--social-button);
        border-radius: 50%;
    }

    .social-button:hover {
        background-color: var(--button-red-hover);  
    }

    .social-button:active {
        background-color: var(--button-red-active);
         
    }
    .social-button:active a{
        opacity: 0.3;
         
    }



    .button {
        font: inherit;
        padding: 15px 35px;
        font-size: 16px;
        line-height: 18px;
        font-weight: 500;
        text-transform: uppercase;
        vertical-align: middle;
        text-align: center;
        border: none;
        border-radius: 3px;
    }

    .page .botton {
        color: var(--basic-white);
    }

    .red {
        background-color: var(--red-button);
    }

    .green {
        background-color: var(--green-button);
    }

    .yellow {
        background-color: var(--yellow-button);
    }

    .page-footer p{
        font-size: 16px;
        line-height: 22px;
        font-weight: 400; 
    }

    p.slogon {
        font-size: 36px;
        line-height: 36px;
        font-weight: 700;
    }

    .footer-social p{
        margin: 10px 0 0 140px;
    }
    
    .button:active{
     color: rgba(255, 255, 255, 0.3);
    }

    .button.red:hover {
        background-color: var(--button-red-hover);
    }

    .button.green:hover
     {
        background-color: var(--button-green-hover);
    }

    .button.yellow:hover
     {
        background-color: var(--button-yellow-hover);
    }

    .button.red:active {
        background-color: var(--button-red-active); 
    }

    .button.green:active
     {
        background-color: var(--button-green-active);
    }

    .button.yellow:active
     {
        background-color: var(--button-yellow-active);
    }

   .site-nav a:hover,
   .basket-link:hover{
    color: var(--site-nav-hover);
   }

   .site-nav a:active,
   .basket-link:active{
    color: rgba(255, 255, 255, 0.3);
   }

   .clients-item {
    opacity: 0.2;
}

.clients-item:hover {
    opacity: 1;
}

.clients-item:active {
    opacity: 0.1;
}

.page-catalog {
    display: flex;
    justify-content: space-between;
}

.catalog {
    width: 760px;
    display: grid;
    grid-template-rows: min-content min-content;
}

.template {
    margin: 0;
    padding: 0;
    margin-top: 48px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.browser {
    display: grid;
    grid-template-rows: auto 1fr;
    margin-bottom: 30px;
   
}

.header-browser {
    opacity: 0.12;
}

.browser-active {
    opacity: 1;
}

.browser:hover .header-browser {
    opacity: 1;
}

.browser:hover {
    box-shadow:  0 0 10px 2px rgba(0, 1, 1, 0.3);
}

.shadow-in {
    outline: 1px solid rgba(0, 0, 0, 0.1);
    outline-offset: -1px;
    
}

.number-page {
    list-style: none;
    display: flex;
}


/*фильтр*/

.filter {
    width: 260px;
  }
  
  .filter fieldset {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    border: none;
  }
  
  .filter fieldset:first-child {
    margin-bottom: 35px;
  }
  
  .filter legend {
    margin-bottom: 5px;
    font-size: 24px;
    line-height: 30px;
  }
  
  .filter ul {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 18px;
  }
  
  .filter-option {
    margin-bottom: 19px;
    padding-left: 45px;
  }
  
  .filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
  }
  
  .filter-input-checkbox:hover + label/* ,
  .filter-input-checkbox:focus + label */ {
    color: var(--color-text);

  }

  .filter-input-checkbox:disabled + label {
    color: var(--color-text);
    opacity: 0.3;
  }

  
  .filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -42px;
    top: 0;
    width: 26px;
    height: 23px;
    background-image: url("../img/checkbox-off.svg");
     opacity: 0.4; 
    background-repeat: no-repeat;
    background-position: 0 0;
   
  }
  
  .filter-input-checkbox:checked + label::after {
    content: "";
    position: absolute;
    left: -42px;
    top: 0;
    width: 26px;
    height: 23px;
    background: white/* var(--basic-white) */;
   background-image: url("../img/checkbox-on.svg");
     opacity: 0.4;
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  
  .filter-input-radio + label::before {
    content: "";
    position: absolute;
    left: -42px;
    top: -1px;
    width: 16px;
    height: 16px;
    border: 4px solid #4D4D4D;
    border-radius: 50%;
    opacity: 0.4;
  }
  
  .filter-input-radio:checked + label::after {
    content: "";
    position: absolute;
    top: 7px;
    left: -34px;
    width: 8px;
    height: 8px;
    background-color: #4D4D4D;
    border-radius: 50%;
    opacity: 0.4;
  }

  .show {
    width: 250px;
    height: 60px;
    background-color: var(--gray-header);
    color: var(--color-nav);
    text-align: center;
    border-radius: 3px;
  }

  .show a{
    display: block;
    color: var(--color-nav);
    padding: 17px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;   
  }

  .show:hover {
    background-color: var(--color-grey); 
  }

  .show a:active {
    color: rgba(0, 0, 0, 0.3);
  }
  .show:active{
  background-color: var(--grey-filter);
    box-shadow: inset 0 6px 0 -3px rgba(0, 1, 1, 0.1); }



  
  /* .filter-button {
    padding-right: 30px;
    padding-left: 30px;
    width: 250px;
    height: 60px;
    background-color: var(--gray-header);
    color: var(--color-nav);
  }

  .filter-button:hover{
    background-color: var(--color-grey);
  }

   .filter-button:active{
     background-color: var(--color-grey);
    padding: 16px 20px ;
    box-shadow: inset 0 6px 0 -3px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.3)
  }  */

 

  /*Диапазон цены*/

  
.range-filter {
    width: 260px;
    margin-top: 0px;
  }
  
  .filter-item legend {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 50px;
  }
  
  .range-controls {
    position: relative;
    height: 41px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
  }
  
  .range-controls .scale {
    height: 2px;
    background: #d7dcde;
  }
  
  .range-controls .bar {
    width: 70%;
    height: 2px;
    background: #00ca74;
  }
  
  .range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid #ffffff;
    background-color: #ababab;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    cursor: pointer;
  }
  
  .range-controls .toggle-min {
    left: 18px;
  }
  
  .range-controls .toggle-max {
    left: 160px;
  }
  
  .price-controls {
    display: flex;
    justify-content: space-between;
  }
  
  .price-controls label {
    text-transform: uppercase;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
  }
  
  .price-controls input {
    width: 60px;
    padding: 10px;
    margin-left: 10px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
    font-family: inherit;
    font-size: inherit;
  }

  .sort {
    text-transform: uppercase;
      list-style: none;
      display: flex;
      justify-content: space-between;
  }

  .sort span {
      font-size: 18px;
      line-height: 30px;
      font-weight: 700;
  }

  .param,
  .up_down {
      list-style: none;
      margin: 0;
      padding: 0;
  }

  .param-sort {
      display: grid;
      grid-template-columns: 300px 60px;
  }

  .param {
    display: flex;
    justify-content: flex-start;
}

  .up_down {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: right;
  }

  .sort-value + label {
      font-size: 14px;
      line-height: 18px;
      opacity: 0.3;
      margin-right: 25px;
  }

  .sort-value + label:hover{
      opacity: 0.6;
  }

  .sort-value + label:active,
  .sort-value:checked + label {
    opacity: 1;
  }

  .down label,
  .up label{
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
  }
  .up_down_radio + label::before{
    content: "";
  position: absolute;
  left: 10px;
  top: 6px;
  width: 16px;
  height: 16px;
      background-image: url(../img/icon-down-dir.svg);
      background-repeat: no-repeat;
      background-position: 0 0;
      opacity: 0.2;
  }

  .up .up_down_radio + label::before{
    left: 6px;
    top: 1px;
      transform: rotate(180deg);
  }

  .down:active .up_down_radio + label::after,
    .up_down_radio:checked + label::after{
    content: "";
  position: absolute;
  left: 10px;
  top: 6px;
  width: 16px;
  height: 16px;
      background-image: url(../img/icon-down-dir.svg);
      background-repeat: no-repeat;
      background-position: 0 0;
  }

  .up:active .up_down_radio + label::after{
    content: "";
  position: absolute;
  left: 10px;
  top: 6px;
  width: 16px;
  height: 16px;
      background-image: url(../img/icon-down-dir.svg);
      background-repeat: no-repeat;
      background-position: 0 0;
      left: 6px;
    top: 1px;
      transform: rotate(180deg);
  }

  .down:hover .up_down_radio + label::after{
    content: "";
  position: absolute;
  left: 10px;
  top: 6px;
  width: 16px;
  height: 16px;
      background-image: url(../img/icon-down-dir.svg);
      background-repeat: no-repeat;
      background-position: 0 0;
      opacity: 0.5;
  }

  .up:hover .up_down_radio + label::after{
    content: "";
  position: absolute;
  left: 10px;
  top: 6px;
  width: 16px;
  height: 16px;
      background-image: url(../img/icon-down-dir.svg);
      background-repeat: no-repeat;
      background-position: 0 0;
      left: 6px;
    top: 1px;
      transform: rotate(180deg);
      opacity: 0.5;
  }



  



  .pagination-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-top: 55px;
    margin-bottom: 60px;
    list-style: none;
  }

  .pagination-item {
    margin-right: 11px;
  }

  .pagination-item:last-child {
    margin-right: 0;
    width: 260px;
  }
  
  .pagination-item a {
    display: block;
    color: var(--color-nav);
    background-color: var(--gray-header);
    border-radius: 3px;
    padding: 16px 20px ;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
  }

  .pagination-item-current a{
    background-color: var(--basic-white); 
    border-radius: 3px;
    box-shadow: inset 0 0 0 3px var(--color-grey-a);
    padding: auto;
  }

    .pagination-item a:hover{
        background-color: var(--color-grey);
        border-radius: 3px;
        padding: 16px 20px ;
        box-shadow: none;
  }

   .pagination-item a:active {
    background-color: var(--color-grey);
    padding: 16px 20px ;
    box-shadow: inset 0 6px 0 -3px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.3)
}

/*!!!!!!!!!!!!!!!!*/

/*!!!!!!!!!!!!!!!!*/

.map-wrapper{
    margin-bottom: 70px;
    position: relative;
    display: flex;
    height: 416px;
    background-color: var(--background);
    justify-content: center;
}

.map-wrapper img{
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 1180px;
    height: 416px;
    margin: 0 auto;
}

.map-container{
    position: absolute;
    z-index: 30;
    top: 15px;
    right: 65%;
}

.map-address{
    line-height: 18px;
    box-sizing: border-box;
    width: 319px;
    margin-top: 55px;
    padding: 50px 50px;
    background-color: var(--basic-white);
}

.map-address b{
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    display: inline-block;
    margin-bottom: 23px;
    vertical-align: top;
    color: var(--color-nav);
}

.map-address .address{
    font-weight: 400;
    font-style: normal;
    margin-bottom: 37px;
    padding-right: 5px;
    color: var(--text-contact);
}

.map-address .address-phone{
    font-weight: 400;
    font-style: normal;
    margin-top: 18px;
    color: var(--text-contact);
}

.writeus-button{
    width: 219px;
    height: 50px;
}






